@import url(../../Fcss/reset.css);


/*设置整体框架*/
/*按照网易云音乐的实际来(有限制的最大最小值)*/

html,body{
	width: 100%;
	height: 100%;
}
img{display: block;}

#container{
	min-width: 1010px;
	min-height: 671px;

	width: 1010px;
	height: 671px;

	margin: 0 auto 0 auto;

	box-sizing: border-box;

}


/*head 部分*/

#container .head_nav{
	width: 100%;
	height: 50px;
	background: #C62F2F;

	position: relative;
}

/*左边的logo*/
#container .head_nav .logo{		/*此处不加浮动会影响下面的布局???*/
	display: block;
	width: 170px;
	height: 100%;
	background: url(imgs/logo.png) no-repeat;

	position: absolute;

	left: 0;

}

/*中间的搜索*/

#container .head_nav .search{
	width: 250px;
	height: 100%;

	position: absolute;
	left: 230px;
}
/*搜索框*/
#container .head_nav .search input[name='search']{

	box-sizing: border-box;


	display: block;

	width: 205px;

	height: 22px;

	background: #A82828;

	outline: none;

	border: none;

	border-radius: 15px;

	position: absolute;

	top: 50%;
	margin-top: -10px;

	left: 28px;

	text-indent: 15px;
}

#container .head_nav .search input[name='btn']{
	
	display: block;

	width: 20px;
	height: 22px;

	background: red;

	outline: none;

	border: none;

	position: absolute;

	top: 50%;
	margin-top: -10px;

	left: 200px;
	cursor: pointer;
}
/*右边的一系列操作*/
#container .head_nav .action{
	width: 380px;
	height: 100%;
	background: #ccc;

	position: absolute;
	right: 0;
}

#container .head_nav .action .action_style{
	width: 60%;
	height: 100%;
	background: rgba(254,54,54,.5);

	float: left;
}

#container .head_nav .action .action_style li{
	height: 70%;
	width: 30%;
	background: green;

	float: left;
	margin-left: 3%;

	margin-top: 4%;

	cursor: pointer;
}


#container .head_nav .action .action_status{
	width: 30%;
	height: 100%;
	background: rgba(254,54,54,.5);

	float: right;
	position: relative;
}

.action_status li{
	height: 70%;
	width: 30%;
	background: red;

	float: left;
	margin-left: 3%;

	margin-top: 7%;

	cursor: pointer;
}

/*主体部分*/

#container .main{
	width: 100%;
	height: 570px;
	min-height: 570px;


	clear: both;
}

/*主体左边的目录部分*/


#container .main .left_nav{
	width: 200px;
	height: 100%;

	float: left;
	background: #F5F5F7;

	position: relative;
}


/*左边的第一个自定义菜单*/

#container .main .left_nav dl.suggest{
	width: 100%;
	height: 160px;

	background: transparent;
}

.left_nav dl.suggest dt{
	width: 100%;
	height: 30px;
	line-height: 30px;

	font-size: 13px;
	text-indent: 15px;

	color: #7D7D7D;
}

.left_nav dl.suggest dd{
	box-sizing: border-box;
	width: 100%;
	height: 30px;

	line-height: 30px;

	text-indent: 55px;
	font-size: 13px;

	color: #5C5C5C;

	border-left: 4px solid transparent;
}

/*左边的第二个自定义菜单*/

#container .main .left_nav dl.mine{
	width: 100%;
	height: 160px;
	background: transparent;
}

.left_nav dl.mine dt{
	width: 100%;
	height: 30px;
	line-height: 30px;

	font-size: 13px;
	text-indent: 15px;

	color: #7D7D7D;
}

.left_nav dl.mine dd{
	box-sizing: border-box;
	width: 100%;
	height: 30px;

	line-height: 30px;
	text-indent: 55px;

	font-size: 13px;
	color: #5C5C5C;
	border-left: 4px solid transparent;
}

/*左边的第三个自定义菜单*/
#container .main .left_nav dl.song_list{
	width: 100%;
	height: 70px;

	background: transparent;

}

.left_nav dl.song_list dt{
	width: 100%;
	height: 30px;
	line-height: 30px;

	font-size: 13px;
	text-indent: 15px;

	color: #7D7D7D;
}

.left_nav dl.song_list dd{
	box-sizing: border-box;
	width: 100%;
	height: 30px;

	line-height: 30px;
	text-indent: 55px;

	font-size: 13px;

	color: #5C5C5C;

	border-left: 4px solid transparent;
}

.left_nav dl.song_list dd:hover,.left_nav dl.suggest dd:hover,.left_nav dl.mine dd:hover{
	cursor: pointer;

	color: black;

	border-left: 4px solid #C62F2F;

	background: #E8E9EC;
}




/*左边的第二个自定义菜单*/


/*左下角的播放的部分*/
#container .main .left_nav .now_play{
	width: 100%;
	height: 59px;

	border-top: 1px solid #E1E1E2;
	position: absolute;

	bottom: 0;

	background: transparent;
}

/*主体右边的内容部分*/
#container .main .right_content{
	width: 810px;
	height: 100%;
		
	min-width: 810px;	

	float: left;
	background: green;
}

#container .main .right_content .right_con{
	width: 810px;
	height: 100%;	

	overflow: hidden;
}


.main .right_content>.right_con li{
	width: 810px;
	height: 100%;	
}

/*对每一个作为选项卡的li进行单独的设计*/

/*li1*/
.main .right_content>.right_con li.day1{
		background: blue;

		overflow:hidden;	/*作用是取消margin合并*/
}

/*/第一部分 总高度是570 */
.right_con li.day1>.findMusic_nav{	/*50px*/
	border-bottom: 1px solid #ccc;
	width: 90%;
	height: 40px;
	margin: 2px auto 18px auto;
}
.right_con li.day1>.findMusic_nav li{
	width: auto;
	height: 100%;
	line-height: 40px;
	padding-left: 15px;
	padding-right: 15px;

	border-bottom: 2px solid transparent;

	margin-left: 25px;

	float: left;

	cursor: pointer;

	color: #000;

	font-size: 14px;
}
.right_con li.day1>.findMusic_nav li:hover{
	color: red;
}
/*这里是选项卡的第一部分的设置 宽度是729px*/
.right_con li.day1> .personal{
	width:90%;
	height: 519px;
	background: #ccc;

	margin: 0 auto 0 auto;

	display: none;
}


/*设置幻灯片区域的大小*/
.right_con li.day1> .personal>.carousel{
	width: 729px;
	height: 200px;

	position: relative;		/*为了按钮*/
}
.personal>.carousel ul.poster-list{
	width: 729px;
	height: 200px;
}
.personal>.carousel .poster-list li.poster-item{
	/*width: 540px;
	height: 200px;*/
	position: absolute;
	left: 0;
	top: 0;
}

.personal>.carousel .poster-btn{
	position: absolute;
	top: 0;
	width: 100px;
	height: 200px;
	z-index: 10;
	cursor: pointer;
	opacity: .8;
}
.personal>.carousel .poster-prev-btn{
	left: 0;
	background: url(../../Fpics/btn_l.png) center center no-repeat;
}

.personal>.carousel .poster-next-btn{
	right: 0;
	background: url(../../Fpics/btn_r.png) center center no-repeat;
}

/*幻灯片设置完毕*/

.right_con li.day1> .personal>.arts{
	box-sizing: border-box;

	width: 100%;
	height: 260px;

	padding-top: 10px;

	background: green;

	color:#000;
}
.right_con li.day1> .personal>.arts h2{
	line-height: 25px;

	font-size: 18px;
}

.right_con li.day1> .personal>.arts>ul{
	width: 100%;
	height: 150px;
	margin-top: 30px;
}

.right_con li.day1> .personal>.arts>ul li{
	width: 130px;
	height: 150px;
	background: black;
	float: left;
}

.right_con li.day1> .styles{
	width:90%;
	height: 519px;
	background: #fff;

	margin: 0 auto 0 auto;

	display: block;	/*作为隐藏的选项卡*/

	position: relative;	/*为后面的自定义滚动条做准备*/
}

/*设置预加载图片的目录*/
.right_con li.day1> .styles .signersNav{
	width: 100%;
	height: 35px;

}

/*设置预加载图片的目录*/
.right_con li.day1> .styles .signersNav li{
	width: auto;
	height: 35px;
	line-height: 35px;

	float: left;

	padding-left: 10px;

	background: #ccc;
}

.right_con li.day1 .styles .signers{/*可滑动区域是519-55的显示区域的大小*/
	
	height: 474px;

	width: 96%;
	background: #435B3E;

	clear: both;

	overflow: hidden;
	position: relative;

}

.right_con li.day1 .styles .signers p{
	height: auto;
	position: absolute;
	top: 0;
}

.right_con li.day1 .styles .slideBar{
	width: 10px;
	height: 55px;

	background: #EF5656;

	position: absolute;

	right: 0;
	top: 0;

	/*设置圆角*/
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
}

/*2*/
.main .right_content>.right_con li.day2{
		background: red;
}

/*3*/
.main .right_content>.right_con li.day3{
		background: yellow;
}

/*4*/
.main .right_content>.right_con li.day4{
		background: #ccc;
}

/*5*/
.main .right_content>.right_con li.canvasAnimate{
		background: black;
}


/*6*/

.main .right_content>.right_con li.lovePart{
		background: #ccc;
}


.main .right_content>.right_con li.noShow{
	display: none;
}



/*底部音乐播放部分*/

#container .footer_nav{
	width: 100%;
	height: 50px;
	min-height: 50px;

	background: #E56AFF;
}