@import url(../../Fcss/reset.css);


/*设置整体框架*/
/*按照网易云音乐的实际来(有限制的最大最小值)*/

html,body{
	width: 100%;
	height: 100%;
}
img{display: block; border: none;}

#container{

	width: 1010px;
	height: 670px;

	margin: 0 auto 0 auto;

	box-sizing: border-box;

	box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

	position: relative;	/*为评论框做准备*/

}


/*head 部分*/

#head_nav{
	width: 1010px;
	height: 50px;
	background: #C62F2F;

	/*black style test*/
	background: #222225;

	position: relative;
}

/*左边的logo*/
#head_nav .logo{		/*此处不加浮动会影响下面的布局???*/
	display: block;
	width: 170px;
	height: 100%;
	background: url(imgs/logo.png) no-repeat;

	position: absolute;

	left: 0;

}

/*中间的搜索*/

#head_nav .search{
	width: 250px;
	height: 100%;

	position: absolute;
	left: 230px;
}
/*搜索框*/
#head_nav .search input[name='search']{

	box-sizing: border-box;


	display: block;

	width: 205px;

	height: 22px;

	background: #171719;

	outline: none;

	border: none;

	border-radius: 15px;

	position: absolute;

	top: 50%;
	margin-top: -10px;

	left: 28px;

	text-indent: 20px;

	color: #fff;
}

#head_nav .search input[name='btn']{
	
	display: block;

	width: 20px;
	height: 22px;

	background: red;

	outline: none;

	border: none;

	position: absolute;

	top: 50%;
	margin-top: -10px;

	left: 200px;
	cursor: pointer;
}
/*右边的一系列操作*/
#head_nav .action{
	width: 300px;
	height: 100%;
	/*background: #ccc;*/

	position: absolute;
	right: 0;
}

#head_nav .action .action_style{
	width: 60%;
	height: 100%;

	float: left;
}

#head_nav .action .action_style li{
	height: 70%;
	width: 30%;

	float: left;
	margin-left: 3%;

	margin-top: 4%;

	cursor: pointer;
}

#head_nav .action .action_style li:nth-of-type(1){
	background: url(imgs/icon/setStyle.png) center center no-repeat;
}
#head_nav .action .action_style li:nth-of-type(2){
	background: url(imgs/icon/messages.png) center center no-repeat;
}
#head_nav .action .action_style li:nth-of-type(3){
	background: url(imgs/icon/set.png) center center no-repeat;
}

#head_nav .action .action_status{
	width: 40%;
	height: 100%;
	/*background: rgba(254,54,54,.5);*/

	float: right;
	position: relative;
}

.action_status li{
	height: 70%;
	width: 30%;

	float: left;
	margin-left: 3%;

	margin-top: 7%;

	cursor: pointer;
}

.action_status li:nth-of-type(1){
	background: url(imgs/icon/small.png) no-repeat center center;
}
.action_status li:nth-of-type(2){
	background: url(imgs/icon/large.png) no-repeat center center;
}
.action_status li:nth-of-type(3){
	background: url(imgs/icon/close.png) no-repeat center center;
}

/*主体部分*/

#main{
	width: 1010px;
	height: 570px;


	clear: both;
}

/*主体左边的目录部分*/


#leftPart{
	box-sizing: border-box;
	width: 200px;
	height: 100%;

	float: left;
	background: #191B1F;

	position: relative;

	border-right:1px solid #23262C;
	border-bottom:1px solid #23262C;
}


/*左边的第一个自定义菜单*/

#leftPart dl.suggest{
	width: 100%;
	height: 160px;

	background: transparent;
}

#leftPart dl.suggest dt{
	width: 100%;
	height: 30px;
	line-height: 30px;

	font-size: 13px;
	text-indent: 15px;

	color: #ADAFB2;

}

#leftPart dl.suggest dd{
	box-sizing: border-box;
	width: 100%;
	height: 30px;

	line-height: 30px;

	text-indent: 55px;
	font-size: 13px;

	color: #ADAFB2;

	border-left: 4px solid transparent;
}

#leftPart dl.suggest dd:nth-of-type(1){
	background: url(imgs/icon/music.png) no-repeat 25px center;
}
#leftPart dl.suggest dd:nth-of-type(2){
	background: url(imgs/icon/person.png) no-repeat 25px center;
}
#leftPart dl.suggest dd:nth-of-type(3){
	background: url(imgs/icon/mv.png) no-repeat 25px center;
}
#leftPart dl.suggest dd:nth-of-type(4){
	background: url(imgs/icon/friend.png) no-repeat 25px center;
}

#leftPart dl.suggest dd:nth-of-type(1):hover{
	background: #27282C url(imgs/icon/music.png) no-repeat 25px center;
	cursor: pointer;

	color: #fff;

	border-left: 4px solid #C62F2F;
}
#leftPart dl.suggest dd:nth-of-type(2):hover{
	background: #27282C url(imgs/icon/person.png) no-repeat 25px center;
	cursor: pointer;

	color: #fff;

	border-left: 4px solid #C62F2F;
}
#leftPart dl.suggest dd:nth-of-type(3):hover{
	background: #27282C url(imgs/icon/mv.png) no-repeat 25px center;
	cursor: pointer;

	color: #fff;

	border-left: 4px solid #C62F2F;
}
#leftPart dl.suggest dd:nth-of-type(4):hover{
	background: #27282C url(imgs/icon/friend.png) no-repeat 25px center;
	cursor: pointer;

	color: #fff;

	border-left: 4px solid #C62F2F;
}

/*左边的第二个自定义菜单*/

#leftPart dl.mine{
	width: 100%;
	height: 160px;
	background: transparent;
}

#leftPart dl.mine dt{
	width: 100%;
	height: 30px;
	line-height: 30px;

	font-size: 13px;
	text-indent: 15px;

	color: #ADAFB2;
}

#leftPart dl.mine dd{
	box-sizing: border-box;
	width: 100%;
	height: 30px;

	line-height: 30px;
	text-indent: 55px;

	font-size: 13px;
	color: #ADAFB2;
	border-left: 4px solid transparent;
}

#leftPart dl.mine dd:nth-of-type(1){
	background: url(imgs/icon/localMusic.png) no-repeat 25px center;
}
#leftPart dl.mine dd:nth-of-type(2){
	background: url(imgs/icon/down.png) no-repeat 25px center;
}
#leftPart dl.mine dd:nth-of-type(3){
	background: url(imgs/icon/myMusic.png) no-repeat 25px center;
}
#leftPart dl.mine dd:nth-of-type(4){
	background: url(imgs/icon/mySigner.png) no-repeat 25px center;
}

#leftPart dl.mine dd:nth-of-type(1):hover{
	background: #27282C url(imgs/icon/localMusic.png) no-repeat 25px center;
	cursor: pointer;

	color: #fff;

	border-left: 4px solid #C62F2F;
}
#leftPart dl.mine dd:nth-of-type(2):hover{
	background: #27282C url(imgs/icon/down.png) no-repeat 25px center;
	cursor: pointer;

	color: #fff;

	border-left: 4px solid #C62F2F;
}
#leftPart dl.mine dd:nth-of-type(3):hover{
	background: #27282C url(imgs/icon/myMusic.png) no-repeat 25px center;
	cursor: pointer;

	color: #fff;

	border-left: 4px solid #C62F2F;
}
#leftPart dl.mine dd:nth-of-type(4):hover{
	background: #27282C url(imgs/icon/mySigner.png) no-repeat 25px center;
	cursor: pointer;

	color: #fff;

	border-left: 4px solid #C62F2F;
}

/*左边的第三个自定义菜单*/
#leftPart dl.song_list{
	width: 100%;
	height: 70px;

	background: transparent;

}

#leftPart dl.song_list dt{
	width: 100%;
	height: 30px;
	line-height: 30px;

	font-size: 13px;

	text-indent: 15px;

	color: #ADAFB2;
}

#leftPart dl.song_list dd{
	box-sizing: border-box;
	width: 100%;
	height: 30px;

	line-height: 30px;
	text-indent: 55px;

	font-size: 13px;

	color: #ADAFB2;

	border-left: 4px solid transparent;
}

#leftPart dl.song_list dd{
	background: url(imgs/icon/mylove.png) no-repeat 25px center;
}
#leftPart dl.song_list dd:hover{
	background: #27282C url(imgs/icon/mylove.png) no-repeat 25px center;
	cursor: pointer;

	color: #fff;

	border-left: 4px solid #C62F2F;

}




/*左边的第二个自定义菜单*/


/*左下角的播放的部分*/
#leftPart .now_play{
	width: 100%;
	height: 59px;

	border-top: 1px solid #23262C;
	position: absolute;

	bottom: 0;

	background: transparent;
}


/*主体右边的内容部分*/
#rightPart{
	width: 810px;
	height: 570px;
	

	float: left;
}

#rightMain{
	width: 810px;
	height: 570px;	

	overflow: hidden;

	position: relative;
}


#rightMain>li{	/*#的级别太高会影响下面的继承*/
	width: 810px;
	height: 570px;	

	overflow: hidden;
}

/*对每一个作为选项卡的li进行单独的设计*/

/*card1*/
#rightMain #right_card1{
		background: #16181C;
		overflow:hidden;	/*作用是取消margin合并*/
}

/*/第一部分 总高度是570 */
#right_card1 .navs{	/*50px*/
	border-bottom: 1px solid #212327;
	width: 90%;
	height: 40px;
	margin: 2px auto 17px auto;
}

#right_card1 .navs>li{
	width: auto;
	height: 100%;
	line-height: 40px;
	padding-left: 15px;
	padding-right: 15px;

	border-bottom: 2px solid transparent;

	margin-left: 25px;

	float: left;

	cursor: pointer;

	color: #828385;

	font-size: 14px;
}
#right_card1 .navs li:hover{
	color: #fff;
}

/*这里是选项卡的第一部分的设置 宽度是729px*/
#right_card1 .tab_1{

	box-sizing: border-box;
	width:90%;
	height: 519px;

	margin: 0 auto 0 auto;


}


/*设置幻灯片区域的大小*/
#right_card1 .tab_1 .carousel{
	width: 729px;
	height: 200px;

	position: relative;		/*为了按钮*/

	margin-bottom: 25px;
}
.tab_1 .carousel ul.poster-list{
	width: 729px;
	height: 200px;
}
.tab_1 .carousel .poster-list li.poster-item{
	/*width: 540px;
	height: 200px;*/
	position: absolute;
	left: 0;
	top: 0;
}

.tab_1 .carousel .poster-btn{
	position: absolute;
	top: 0;
	width: 100px;
	height: 200px;
	z-index: 10;
	cursor: pointer;
	opacity: .8;
}
.tab_1 .carousel .poster-prev-btn{
	left: 0;
	background: url(../../Fpics/btn_l.png) center center no-repeat;
}

.tab_1 .carousel .poster-next-btn{
	right: 0;
	background: url(../../Fpics/btn_r.png) center center no-repeat;
}

/*幻灯片设置完毕*/

#right_card1 .tab_1 .arts{
	box-sizing: border-box;

	width: 100%;
	height: 285px;

	padding-top: 10px;

	/*background: green;*/

	color:#000;
}
#right_card1 .tab_1 .arts h2{

	height: 35px;
	line-height: 30px;

	border-bottom: 1px solid #E1E1E2;

	font-size: 18px;

	color: #fff;
}

#right_card1 .tab_1 .arts>ul{
	width: 100%;
	height: 200px;
	margin-top: 15px;
}

#right_card1 .tab_1 .arts>ul li{
	width: 220px;
	height: 200px;

	margin-left: 17px;
	float: left;

	box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

	position: relative;

	cursor: pointer;

	overflow: hidden;

}

#right_card1 .tab_1 .arts>ul li span{
	box-sizing: border-box;
	width: 100%;
	height: 25px;
	line-height: 25px;
	background: rgba(43,48,59,.15);
	position: absolute;

	top: 0;

	font-size: 14px;
	font-weight: 400;
	color: #fff;

	text-align: right;

	padding-right: 6px;
}

#right_card1 .tab_1 .arts>ul li p{
	box-sizing: border-box;
	width: 100%;
	height: 60px;

	background: rgba(43,48,59,.45);

	position: absolute;

	top: -60px;
	left: 0;

	padding: 15px;

	letter-spacing: 2px;

	text-indent: 10px;

	color: #fff;

	font-size: 12px;

}

#right_card1 .tab_2{
	box-sizing: border-box;

	width:90%;
	height: 519px;

	margin: 0 auto 0 auto;


	position: relative;	/*为后面的自定义滚动条做准备*/

	overflow:hidden;	/*取消子类margin对父类的影响*/

	border-right:1px solid #212327;
}

/*设置预加载图片的目录*/
#right_card1 .tab_2 .signersNav{
	width: 96%;
	height: 12px;
	margin-left: 4%;
	margin-top: 25px;

	margin-bottom: 25px;
}

/*设置预加载图片的目录*/
#right_card1 .tab_2 .signersNav li{
	width: auto;
	height: 12px;
	line-height: 12px;

	float: left;

	padding: 0 12px 0 12px;

	border-right: 1px solid #282930;
}

#right_card1 .tab_2 .signersNav li:first-child{
	padding: 0;

	color: #fff;

	font-size: 14px;
	border:none;
}

#right_card1 .tab_2 .signers{/*可滑动区域是519-55的显示区域的大小*/

	height: 474px;

	width: 96%;

	clear: both;

	overflow: hidden;
	position: relative;

}

#right_card1 .tab_2 .signers .signerlists{
	width: 100%;		/*700px*/
	height: 1000px;


	position: absolute;

	top: 0;
	left: 0;

	overflow: hidden;

}

.tab_2 .signers ul li{
	width: 140px;
	height: 140px;

	float: left;

	margin-left: 28px;

	margin-bottom: 20px;
}
.tab_2 .signers ul.signerlists>li img{
	width: 100%;
	height: 100%;
}

#right_card1 .tab_2 .slideBar{
	width: 10px;
	height: 55px;

	background: #2C2E32;

	position: absolute;

	right: 0;
	top: 0;

	/*设置圆角*/
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}


/*2*/
/*now left menu part2 content*/
#rightMain #right_card2{	/*width: 810px;height: 100%--570;*/
		background: #16181C;
		position: relative;

		overflow: hidden;
}

/*右边下拉滚动条*/
#right_card2 .slidebar{
	width: 10px;
	height: 55px;

	background: #2C2E32;

	position: absolute;

	right: 0;
	top: 0;

	z-index: 10;

	/*设置圆角*/
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

/*右边的内容总区域*/
#right_card2 .content{
	width: 96%;

	height: 985px;

	position: absolute;

	left: 2%;
	top: 0;
	
	overflow: hidden;	/*取消下面margin的影响*/
}

#right_card2 .content .nowSong{
	width: 100%;
	height: 400px;

	overflow: hidden;	/*取消下面margin的影响*/
}

#right_card2 .content .nowSong .left{
	width: 50%;
	height: 100%;

	float: left;

	position: relative;
}


/*left*/
#right_card2 .nowSong .left img{
	position: absolute;
	right: 0;

	top: 25px;

	box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

}

#right_card2 .nowSong .left ul{
	position: absolute;

	width: 300px;

	height: 45px;

	right: 0;
	bottom: 15px;
}

#right_card2 .nowSong .left ul li{
	width: 45px;
	height: 45px;

	float: left;

	margin-right: 35px;


	-webkit-border-radius:22px;
	-moz-border-radius:22px;
	-ms-border-radius:22px;
		border-radius:22px;
}
#right_card2 .nowSong .left ul li:nth-of-type(1){
	background: url(imgs/icon/dd.png);
}
#right_card2 .nowSong .left ul li:nth-of-type(2){
	background: url(imgs/icon/lovemis.png);
}
#right_card2 .nowSong .left ul li:nth-of-type(3){
	background: url(imgs/icon/delete.png);
}
#right_card2 .nowSong .left ul li:nth-of-type(4){
	background: url(imgs/icon/next.png);
}

#right_card2 .nowSong .left ul li:first-child{
	margin-left: 5px;
}

#right_card2 .nowSong .left ul li:last-child{
	margin: 0;
}

#right_card2 .content .nowSong .right{
	box-sizing: border-box;
	width: 50%;
	height: 100%;
	float: left;

	position: relative;

	padding-left: 30px;
	padding-right: 30px;

	padding-top: 15px;
}

#right_card2 .content .nowSong .right h1{
	font-size: 14px;
	margin-top: 8px;

	color: #fff;
}

#right_card2 .nowSong .right dl{
	margin-top: 10px;

}
#right_card2 .nowSong .right dl a{
	text-decoration: none;
	color: #28568A;
}
#right_card2 .nowSong .right dl dt{
	font-size: 10px;
	margin-bottom: 10px;
	color: #fff;
}

#right_card2 .nowSong .right dl dd{
	box-sizing: border-box;
	line-height: 30px;

	font-size: 14px;

	padding: 5px 85px 5px 25px;
}

#right_card2 .content .commontText{
	width: 100%;
	height: 100px;

	position: relative;

	margin-top: 85px;

	margin-bottom: 20px;
}

#right_card2 .content .commontText div{

	height: 20px;

	line-height: 20px;
	font-size: 17px;

	font-weight: 400;

	text-indent: 25px;

	color: #fff;
}
#right_card2 .content .commontText div small{
	font-size:12px;

	margin-left: 10px;

	color: #4E4E52;
}

#right_card2 .content .commontText input[type='text']{

	width: 92%;
	height: 25px;

	border: 12px solid #1C1E23;

	background: #2B2D32 url(imgs/icon/twobackground.png) 660px center no-repeat;



	margin:5px 5px 5px 22px;

	padding: 5px 0 5px 0;
	text-indent: 15px;

	outline: none;
}

#right_card2 .content .textLists{
	width: 100%;
	height: 600px;


	overflow: hidden;	/*取消对下面的margin的影响*/
}

#right_card2 .content .textLists h2{
	height: 20px;
	margin:10px 0 10px 0;
	font-size: 15px;

	text-indent: 25px;
}

#right_card2 .content .textLists>ul{
	width: 100%;
}
#right_card2 .content .textLists>ul>li{
	box-sizing: border-box;
	border-top: 1px solid #1C1E22;

	width: 95%;
	height: 80px;

	margin: 0 auto 0 auto;

	background: url(imgs/header.png) no-repeat 0 center;

	padding-top: 18px;

	text-indent: 50px;

	position: relative;
}
#right_card2 .content .textLists>ul>li>span{
	color: #fff;
}
#right_card2 .content .textLists>ul>li>a{
	text-decoration: none;
	color: #28568A;
}
#right_card2 .content .textLists>ul>li>ul{
	width: 80%;
	height: 25px;
	text-indent: 0;

	margin-left: 50px;

	margin-top: 5px;
}

#right_card2 .content .textLists>ul>li>ul>li{
	width: auto;
	height: 15px;
	line-height: 15px;
	float: right;
	margin-top: 5px;

	color: #4E4E52;
	cursor: pointer;
}
#right_card2 .content .textLists>ul>li>ul>li:hover{
	color: #ADAFB2;
}
#right_card2 .content .textLists>ul>li>ul>li.border{
	margin-right: 10px;

	padding-right: 10px;

	border-right: 1px solid #282930;
}




/*5*/
#rightMain #right_card3{
		background: black;

		overflow: hidden;
}


/*6*/

#rightMain #right_card4{
	background: #16181C;

	overflow: hidden;

	position: relative;
}

/*这部分的滚动条*/
#right_card4 .scrollbar{
	width: 10px;
	height: 75px;

	background: #2D2F32;

	position: absolute;

	right: 0;
	top: 0;

	z-index: 10;

	/*设置圆角*/
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

/*这部分需要滚动的区域*/
#right_card4 .lovepartContent{
	width: 96%;
	height: 1000px;


	position: absolute;

	left: 2%;
	top: 0;

	overflow: hidden;	/*取消后面的margin带来的影响*/
}


/*right_card4 content*/
#right_card4 .lovepartContent .libo_world{
	width: 100%;

	height: 260px;

	position: relative;

}

#right_card4 .lovepartContent .libo_world img{
	display: block;
	position: absolute;

	top: 25px;

	left: 25px;
}

#right_card4 .lovepartContent .libo_world .zz{
	width: 200px;
	height: 200px;
	position: absolute;

	top: 25px;

	left: 25px;

	z-index: 5;

	background: rgba(72,76,76,.4);
}

#right_card4 .lovepartContent .libo_world .right{
	width: 450px;

	height: 200px;

	position: absolute;
	top: 25px;
	left: 265px;

}


#right_card4 .libo_world .right dt{
	height: 22px;
	font-size: 22px;
	line-height: 22px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #DCDDE4;

}

#right_card4 .libo_world .right dt span{
	font-size: 12px;

	color: #fff;
	padding: 5px 10px 5px 10px;

	margin: -8px 8px 0 10px;

	background: #C62F2F;

	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
		border-radius: 5px;
}

#right_card4 .libo_world .right dd.dd1{	/*注意：竟然不能识别伪类*/
	color: #4F5F53;

	height: 30px;
	line-height: 30px;

	text-indent: 45px;
	margin-bottom: 20px;

	background: url(imgs/libo.png) no-repeat 8px center;
}
#right_card4 .libo_world .right dd.dd1 span{
	color:#ADAFB2;
	font-size: 14px;

	padding-right: 6px;

	cursor: pointer;
}

#right_card4 .libo_world .right dd.dd1 span:hover{
	color: #fff;
}

#right_card4 .libo_world .right dd.dd2{
	margin: 0;
}

#right_card4 .right dd.dd2 input{
	outline: none;

	border: none;

	border-radius: 3px;

	padding: 5px 15px 5px 25px;

	background: #25272B;

	margin-right: 10px;

	color: #585A5F;

	cursor: pointer;
}
/*单独设置背景图标*/
#right_card4 .right dd.dd2 input:nth-of-type(1){
	background: #25272B url(imgs/icon/cardAll.png) 7px center no-repeat;
}
#right_card4 .right dd.dd2 input:nth-of-type(2){
	background: #25272B url(imgs/icon/card4Add.png) 7px center no-repeat;
}
#right_card4 .right dd.dd2 input:nth-of-type(3){
	background: #25272B url(imgs/icon/cardfx.png) 7px center no-repeat;
}
#right_card4 .right dd.dd2 input:nth-of-type(4){
	background: #25272B url(imgs/icon/cardDown.png) 7px center no-repeat;
}


#right_card4 .right dd.dd2 input:hover{
	color: #eee;
}


#right_card4 .lovepartContent table{
	margin-top: 25px;

	border-top: 1px solid red;

	color: #ADAFB2;
}


/*为了精确对th进行单独的设置*/
#right_card4 .lovepartContent table th{
	border-right: 1px solid #23262C;
}

#right_card4 .lovepartContent table th[name="index"],td[name="index"]{
	width: 50px;
	text-align:left;
	text-indent: 10px;

	height: 30px;
	line-height: 30px;
}

#right_card4 .lovepartContent table th[name="action"],td[name="action"]{
	width: 60px;
	text-align:left;
	text-indent: 10px;
	height: 30px;
	line-height: 30px;
}
#right_card4 .lovepartContent table td[name="action"]{
	cursor: pointer;
	background: url(imgs/icon/actionlove.png) 10px center no-repeat,url(imgs/icon/actiondown.png) 30px center no-repeat;
}
#right_card4 .lovepartContent table th[name="title"],td[name="title"]{
	width: 260px;
	text-align:left;
	text-indent: 10px;
	height: 30px;
	line-height: 30px;
}
#right_card4 .lovepartContent table th[name="signer"],td[name="signer"]{
	width: 190px;
	text-align:left;
	text-indent: 10px;
	height: 30px;
	line-height: 30px;
}
#right_card4 .lovepartContent table th[name="time"],td[name="time"]{
	width: 170px;
	text-align:left;
	text-indent: 10px;
	height: 30px;
	line-height: 30px;
}
#right_card4 .lovepartContent table th[name="belong"],td[name="belong"]{
	width: 80px;
	text-align:left;
	text-indent: 10px;
	height: 30px;
	line-height: 30px;

	border: none;
}

/*隔行变色*/
#right_card4 .lovepartContent table tr:nth-of-type(odd){
	background: #16181C;
}

#right_card4 .lovepartContent table tr:nth-of-type(even){
	background: #242629;
}

#right_card4 .lovepartContent table tr:hover{
	background: #26272B;

	color: #fff;
}



.noShow{
	display: none;
}



/*底部音乐播放部分*/

#footer_nav{
	width: 100%;
	height: 50px;

	background: #E56AFF;
}

#matte{
	width: 100%;
	height: 100%;
	background: transparent;

	position: absolute;
	top: 0;
	left: 0;

	z-index: 11;

	display: none;
}

#comment_box{
	width: 475px;

	height: 278px;

	background: #2D2F33;
	position: absolute;

	top: 200px;

	left: 280px;

	z-index: 12;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	display: none;
}

#comment_box .header{
	box-sizing: border-box;

	height: 53px;

	width: 100%;
	border-bottom: 1px solid #3B3A3D;

	position: relative;

	cursor: move;

}

#comment_box .header span{
	height: 53px;
	width: auto;
	line-height: 53px;

	padding-left: 25px;

	font-size: 16px;
	font-weight: bold;
	color: #A3A5A7;

}

#comment_box .header .close{
	width: 10px;
	height: 53px;
	background: url(imgs/closeComment.png) center center no-repeat;

	position: absolute;

	right: 15px;
	top: 0;

	cursor: pointer;


}

#comment_box .textarea{
	box-sizing: border-box;

	height: 168px;
	width: 100%;
	border-bottom: 1px solid #3B3A3D;

	position: relative;
}

#comment_box .textarea textarea{
	box-sizing: border-box;
	width: 430px;
	height: 102px;

	resize: none;

	outline: none;

	padding: 10px;

	border:1px solid #3B3A3D;

	position: absolute;

	top: 21px;
	left: 21px;
	background: #292B2F;
	color: #fff;
}

#comment_box .textarea span{
	width: 35px;
	height: 20px;
	line-height: 20px;
	text-align: center;

	position: absolute;

	bottom: 20px;
	right: 27px;

	color: #A7A7A7;
}

#comment_box .textarea ul{
	width: 97px;
	height: 20px;
	position: absolute;

	bottom: 20px;
	left: 27px;
}

#comment_box .textarea ul li{
	text-align: center;
	width: 24px;
	height: 20px;
	line-height: 20px;

	display: block;

	float: left;
	margin-left: 5px;

	background: pink;
}
#comment_box .textarea ul li:nth-of-type(1){
	background: url(imgs/icon/comment@.png) center center no-repeat;
}
#comment_box .textarea ul li:nth-of-type(2){
	background: url(imgs/icon/commentS.png) center center no-repeat;
}
#comment_box .textarea ul li:nth-of-type(3){
	background: url(imgs/icon/commentX.png) center center no-repeat;
}

#comment_box .button{
	box-sizing: border-box;

	height: 57px;

	width: 100%;

	position: relative;
}
#comment_box .button input{
	width: 80px;
	height: 30px;

	background: #0C73C2;

	border:none;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	outline: none;

	cursor: pointer;

	position: absolute;

	bottom: 14px;
	right: 20px;

	color: #fff;
}

#comment_box .button input:hover{
	background: #1167A8;
}